<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="lib/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="lib/app.js"></script>


</head>

<body ng-app="Info226" ng-controller="appController" >
<div id="header">
  <h1>INFO 226</h1>
  <button ng-hide="isLoggedIn" ng-click="logOutView()"> Log Out </button>
  <button ng-hide="isStudent" ng-click="showAllCoursesView()"> All Courses </button>
  <button ng-hide="isStudent" ng-click="showMyCoursesView()"> My Courses </button>
  <button ng-hide="isStudent" ng-click="showAssignmentsView()"> Assignments </button>
  <button ng-hide="showLecturer" ng-click="getLectureAssignmentsID()">Lecturer Assignments</button>
  <button ng-hide="showLecturer" ng-click="getCourseID()">Lecturer Courses</button>

</div>



<div id="login" ng-hide="showLogin">
  <form>
    <h2>Login Information</h2>
    <p>Username</p>
    <input id="username" type="text" title="username" ng-model="username" value placeholder="Username" required == $0/>
    <br />
    <br />

    <p>Password</p>
    <input
            id="password"
            type="password"
            title="password"
            ng-model="password"
            placeholder="Password"/>
    <br/>
    <br/>
    <button
            type="button"
            id="loginButton"
            ng-click="login()">
            Login
    </button>
  </form>
</div>


<div id="my-assignments-container" ng-hide="showAssignments">
  <h2>My assignments</h2>
  <table id="studentAssignmentTable">
    <tr style="color:black"></tr>
    <th style="width:150px">Course ID</th>
    <th style="width:150px">Course Name</th>
    <th style="width:150px">Information</th>
    <th style="width:150px">Completed</th>
    </tr>

    <tr style="color:black" ng-repeat="assignment in assignments">
      <td>{{ assignment.id }}</td>
      <td>{{ assignment.name }}</td>
      <td>{{ assignment.details }}</td>

      <td>
        <label onclick="completed()" class="check" style="float: right;">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
      </td>
    </tr>
  </table>
</div>

<div id="my-courses-container" ng-hide="showMyCourses">
  <h2>My courses</h2>
  <table id="studentMyTable">
    <tr style="color:black"></tr>
    <th style="width:150px">Course ID</th>
    <th style="width:150px">Course Name</th>
    <th style="width:150px">Information</th>
    <th style="width:150px">Actions</th>
    </tr>

    <tr style="color:black" ng-repeat="course in courses">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.information }}</td>
      <td>
        <a href="#" ng-click="remove(course.id)">Remove</a>
      </td>
    </tr>
  </table>
</div>


<div id="all-courses-container" ng-hide="showAllCourses">
  <h2>All courses</h2>
  <div id="courses">
    <table id="studentAllTable">
      <tr style="color:black"></tr>
      <th style="width:150px">Course ID</th>
      <th style="width:150px">Course Name</th>
      <th style="width:150px">Information</th>
      <th style="width:150px">Enrolled</th>
      </tr>

      <tr style="color:black" ng-repeat="course in courses">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.information }}</td>

        <td>
          <label class="check" style="float: right;">
            <input type="checkbox" />
            <span class="checkbox"></span>
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>


<div id="lecturerPage"  ng-hide="showLecturer">
  <h2> Administration </h2>

<!--  Buttons to show the add forms-->
  <div id="adminButtons">
  <button>Add Course</button>
  <button>Add Assignment</button>
  </div>
  <table id="lecturerTable">
    <tr style="color:black"></tr>
    <th style="width:150px">Course ID</th>
    <th style="width:150px">Course Name</th>
    <th style="width:150px">Overview</th>
    <th style="width:150px">Year</th>
    <th style="width:150px">Trimester</th>
    <th style="width:150px">Lecture Times</th>
    <th style="width:150px">Lecturer ID</th>
    <th style="width:150px">Actions</th>
    </tr>







    <!-- courses lists -->
    <tr style="color:black"  ng-repeat="course in lectureCourses">
      <td>{{course.ID}}</td>
      <td>{{course.Name}}</td>
      <td>{{course.Overview}}</td>
      <td>{{course.Year}}</td>
      <td>{{course.Trimester}}</td>
      <td>{{course.LectureTimes}}</td>
      <td>{{course.LecturerID}}</td>
      <td>
        <a href="#" ng-click="editCourse(course)">Edit</a> |
        <a href="#" ng-click="deleteCourse(course)">Delete</a>
      </td>
    </tr>
  </table>


  <form>
    <h3>Add New Course:</h3>
    <div class="formView">
    <label>Course ID:</label>
    <input type="text" ng-model="cID" placeholder="Course ID">
    </div>
    <br>

    <div class="formView">
    <label>Course Name:</label>
    <input type="text" ng-model="cName" placeholder="Course Name">
    </div>

    <br>

    <div class="formView">
    <label>Overview:</label>
    <input type="text" ng-model="cOverview" placeholder="Information">
    </div>

    <br>

    <div class="formView">
    <label>Year:</label>
    <input type="text" ng-model="cYear" placeholder="Year">
    </div>

    <br>

    <div class="formView">
    <label>Trimester:</label>
    <input type="text" ng-model="cTrimester" placeholder="Trimester">
    </div>

    <br>

    <div class="formView">
    <label>LectureTimes:</label>
    <input type="text" ng-model="cLectureTimes" placeholder="Times">
    </div>

    <br>
    <div class="formView">
    <label>LectureID:</label>
    <input type="text" ng-model="cLecturerID" placeholder="Lecture ID">
    </div>

    <br>
    <br>
    <button ng-click="addCourse()"> Submit Course</button>
  </form>

  <h3> Edit Course </h3>
  <form>
    <div class="formView">
      <label>Course ID </label>

      <input type="text" ng-model="editCourseID" readonly></input>
    </div>

      <br>
    <div class="formView">

    <label>Course Name</label>
      <input type="text" ng-model="editCourseName"></input>
    </div>

      <br>

    <div class="formView">

      <label>Course Overview</label>
      <input type="text" ng-model="editCourseOverview"></input>
    </div>

      <br>

    <div class="formView">

    <label>Year</label>
      <input type="text" ng-model="editYear"></input>
    </div>

      <br>

    <div class="formView">

    <label>Trimester</label>
      <input type="text" ng-model="editTrimester"></input>
    </div>

      <br>
    <div class="formView">

    <label>Lecture Times</label>
      <input type="text" ng-model="editLectureTimes"></input>
    </div>

      <br>

    <div class="formView">

    <label>Lecturer ID</label>
      <input type="text" ng-model="editLecturerID"></input>
    </div>
    <br>
    <br>
    <button ng-click="editPostCourse()"> Save Changes </button>
  </form>





  <table>
    <tr style="color:black"></tr>
    <th style="width:150px">Assignment ID</th>
    <th style="width:150px">Assignment Name</th>
    <th style="width:150px">Overview</th>
    <th style="width:150px">Course ID</th>
    <th style="width:150px">Due Date</th>
    <th style="width:150px">Actions</th>
    </tr>






    <!-- Lecture Assignments -->
    <tr style="color:black"  ng-repeat="assignment in lectureAssignments">
      <td>{{assignment.ID}}</td>
      <td>{{assignment.Name}}</td>
      <td>{{assignment.Overview}}</td>
      <td>{{assignment.CourseID}}</td>
      <td>{{assignment.DueDate}}</td>
      <td>
        <a href="#" ng-click="editAssignment(assignment)">Edit</a> |
        <a href="#" ng-click="deleteAssignment(assignment)">Delete</a>
      </td>
    </tr>
  </table>

  <form>

    <h3>Add New Assignment:</h3>
    <div class="formView">
      <label>Assignment ID:</label>
      <input type="text" ng-model="aID" placeholder="Course ID">
    </div>
    <br>

    <div class="formView">
      <label>Assignment Name:</label>
      <input type="text" ng-model="aName" placeholder="Assignment Name">
    </div>

    <br>

    <div class="formView">
      <label>Overview:</label>
      <input type="text" ng-model="aOverview" placeholder="Overview">
    </div>

    <br>

    <div class="formView">
      <label>Course ID:</label>
      <input type="text" ng-model="aCourseID" placeholder="Course ID">
    </div>

    <br>

    <div class="formView">
      <label>Due Date:</label>
      <input type="text" ng-model="aDueDate" placeholder="Due Date">
    </div>

    <br>
    <br>
    <button ng-click="addAssignment()"> Submit Course</button>
  </form>


  <h3> Edit Assignment </h3>
  <form>
    <div class="formView">
      <label>Assignment ID </label>

      <input type="text" ng-model="editAssignmentID" readonly></input>
    </div>

    <br>
    <div class="formView">

      <label>Assignment Name</label>
      <input type="text" ng-model="editAssignmentName"></input>
    </div>

    <br>

    <div class="formView">

      <label>Assignment Overview</label>
      <input type="text" ng-model="editAssignmentOverview"></input>
    </div>

    <br>

    <div class="formView">

      <label>Course ID</label>
      <input type="text" ng-model="editAssignmentCourseID"></input>
    </div>

    <br>

    <div class="formView">

      <label>Due Date</label>
      <input type="text" ng-model="editDueDate"></input>
    </div>


    <br>
    <br>
    <button ng-click="editPostAssignment()"> Save Changes </button>

</div>
</body>
</html>
