<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="lib/style.css" />

  <script src="lib/script.js"></script>
  <script src="lib/login.js"></script>
<!--  <script src="lib/lecturerpage.js"></script>-->

</head>

<body>
<div id="header">
  <h1>INFO 226</h1>
  <ul id="page-access"></ul>
</div>



    <div id="login" ng-controller="LoginController">
      <form>
        <h2>Login Information</h2>
        <p>Username</p>
        <input id="username" type="text" title="username" ng-model="username" value placeholder="Username" required == $0/>
        <br />
        <br />

        <p>Password</p>
        <input
          id="password"
          type="password"
          title="password"
          ng-model="password"
          placeholder="Password" ==  $0
        />
        <br/>
        <br/>
        <button
          type="button"
          id="loginButton"
          ng-click="login()"
          style="float: center"
        >
          Login
        </button>


      </form>
    </div>

<!--
<div id="my-assignments-container">
  <h2>My assignments</h2>
  <div id="assignments">
    <div id="single-assignment">
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of an assignment
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of an assignment
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of an assignment
      </p>
    </div>
    <ul id="course-list"></ul>
  </div>
</div>
-->

<!--
<div id="my-courses-container">
  <h2>My courses</h2>
  <div id="courses">
    <div id="single-course">
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of your course
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of your course
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of your course
      </p>
    </div>
    <ul id="course-list"></ul>
  </div>
</div>
-->

<!--
<div id="all-courses-container">
  <h2>All courses</h2>
  <div id="courses">
    <div id="single-course">

        <ul id="courses" >

      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of a course
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of a course
      </p>
      <p>
        <label class="check">
          <input type="checkbox" />
          <span class="checkbox"></span>
        </label>
        This is an example of a course
      </p>
    </div>
  </div>
</div>
-->

<!--

<body>
<div class="Login" ng-controller="LoginController">
  <h1>INFO 226</h1>

  <form>
      <h2> Login Information </h2>
      <p> Username </p>
      <input type="text" title="username" ng-model="username">
      <br>

      <p> Password </p>
      <input type="password" title="password" ng-model="password">
      <br>
      <br>
      <button type="button" id="login" ng-click="login()">Login</button>
  </form>
</div>
</body>

-->
<!--Morgan working on lecturer page-->
<!--<div ng-app="myapp" ng-controller="myctrl">-->





<!--  <table border="2" bordercolor="black">-->


<!--    <tr style="color:black">-->


<!--      <th style="width:150px">Course ID</th>-->



<!--      <th style="width:150px">Course Name</th>-->



<!--      <th style="width:150px">Information</th>-->



<!--      <th>Actions</th>-->


<!--    </tr>-->



<!--    <tr style="color:black" ng-repeat="student in students">-->


<!--      <td>{{ course.id }}</td>-->



<!--      <td>{{ course.name }}</td>-->



<!--      <td>{{ course.information }}</td>-->



<!--      <td>-->
<!--        <a href="#" ng-click="edit(course.id)">Add</a> |-->

<!--        <a href="#" ng-click="edit(course.id)">Edit</a> |-->

<!--        <a href="#" ng-click="delete(course.id)">Delete</a>-->

<!--      </td>-->


<!--    </tr>-->


<!--  </table>-->


<!--</div>-->

</body>
</html>
